*{
    margin: 0;
    padding: 0;
    font-family: palatino linotype;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
}
.container{
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}
